.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../../public/rangoli2.png'), url('../../../public/Bitmap.webp'), url('../../../public/mandala.png');
    background-repeat: no-repeat;
    background-size: 35rem 35rem , 100% 80% , 25rem 25rem;
    background-position: top 0 left -8rem, bottom 0 right 0, bottom 0 right -10%;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Trending header starts------------
---------------------- */

.header_wrapper {
    width: 95%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    background: linear-gradient(to right, #6e5a7f , #8b6980);
}

.logo {
    position: relative;
    width: 6rem;
    height: 6rem;
}

.vertical_line {
    width: 1px;
    background: #ab8264;
    height: 5rem;
}

.quality_mandla {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quality_highlight, .quality {
    position: relative;
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
}

.quality {
    opacity: 0.6;
}

/* Trending header Ends------------
---------------------- */

/* Trending bottom starts------------
---------------------- */
.trending_wrapper {
    width: 100%;
    margin-top: 15rem;
    display: flex;
}

.trending_img {
    position: relative;
    width: 70rem;
    height: 85rem;
}

.trending_title {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
}

.trending_title > h2 {
    font-size: 8.5rem;
    font-weight: 400;
    font-family: 'Signatie', sans-serif;
    color: var(--violet_dark);
}

.trending_title > h4 {
    margin-left: 8rem;
    font-size: 2.8rem;
    width: 30rem;
    color: #fff;
    font-weight: 400;
}

.button {
    margin-left: 8rem;
    margin-top: 5rem;
    z-index: 2;
    width: 15rem;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 300;
}

.button:hover {
    background: var(--violet_dark) !important;
    transition: all 0.3s ease;
}

/* Trending bottom Ends------------
---------------------- */