.wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #FFFEF9;
    position: relative;
}

.container {
    width: 100%;
    display: flex;
    border-bottom: 1px solid gray;
    padding: 0 2rem;
    align-items: center;
    grid-gap: 3rem;
}

.container>li {
    height: 4rem;
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--grey);
}

.container>li:hover {
    color: var(--violet_dark);
    border-bottom: 3px solid var(--violet_dark);
}

.container > li:hover .dropdown {
    display: flex;
    transition: all 0.3s ease;
}

.dropdown {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 4rem;
    left: 0;
    background: #FFFEF9;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.dropdown.row {
    grid-gap: 4rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
}

.category {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.category > h3 {
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: var(--grey);
    border-bottom: 1px solid var(--grey);
}

.vertical {
    height: 30rem;
    width: .1rem;
    background: var(--grey);
}

.cat_img {
    position: relative;
    width: 25rem;
    margin-top: 2rem;
    height: 25rem;
}

.sub_category {
    display: flex;
    flex-direction: column;
}

.sub_category > li {
    padding: 1rem;
    cursor: pointer;
    color: var(--grey);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    font-weight: 400;
}

.sub_category > li:hover {
    background: #F4F1E6;
    color: var(--violet_dark);
    font-weight: 600;
}

.shop_style {
    display: flex;
    flex-direction: column;
    grid-gap: 1.5rem;
}

.shop_style > h5 {
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--grey);
    font-weight: 400;
}

.list {
    display: flex;
    width: 25rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    grid-gap: .5rem;
    height: 30rem;
}

.list > li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 400;
}