* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --violet_dark: #652745;
  --blue_dark: #274165;
  --blue: #4A79BC;
  --grey_dark: #653727;
  --grey: #604D56;
  --orange: #FF8F67;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}

.button_primary {
  background: #4A79BC !important;
  display: flex;
  align-items: center;
  width: fit-content;
  color: #fff;
  justify-content: center;
  padding: 1rem;
}

.link {
  width: fit-content;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  color: #370f3d;
}

.link:hover {
  color: #ffc107;
  transition: all 0.3s ease;
}