.wrapper {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 5rem;
    grid-gap: 4rem;
    background: url('../../../public/bg-2.png');
    background-repeat: no-repeat;
    background-size: 110% 90%;
    background-position: bottom 0 right -220%;
}

.wrapper > h2 {
    font-family: 'Signatie', sans-serif;
    font-size: 7rem;
    color: rgb(116 33 75 / 26%);
}

.category {
    display: flex;
    align-items: center;
}

.cat_name {
    position: relative;
    top: -10rem;
}

.cat_name > h3 {
    font-size: 6rem;
    color: var(--violet_dark);
    font-weight: 400;
}

.link {
    font-size: 1.6rem;
    color: #6C1D45;
}
.img {
    position: relative;
    width: 80rem;
    height: 65rem;
}

.bottom_carousel_left, .bottom_carousel_right {
    background: #fff;
    width: fit-content;
    display: flex;
    align-items: center;
    z-index: 5;
    border: 1px solid rgba(0, 0, 0, 0.3);
    justify-content: center;
    color:var(--bs-dark);
    cursor: pointer;
    height: fit-content;
    border-radius: 50%;
    padding: .3rem;
    font-size: 3rem;
}

.bottom_carousel_left:hover , .bottom_carousel_right:hover {
    background: var(--bs-dark);
    color: #fff;
    transition: all 0.3s ease;
}

.bottom_carousel_left {
    position: absolute;
    top: 50%;
    left: 4rem;
}

.bottom_carousel_right {
    position: absolute;
    top: 50%;
    right: 4rem;
}